

  <form>
    <div class="form-inline">
       <input class="form-control" type="text" name="keyword" [(ngModel)]="searchRequest.keyword" (keypress)="search()" placeholder="Search By keyword">
        &nbsp;
       <input class="form-control" type="text" name="marketName" [(ngModel)]="searchRequest.marketName" (keypress)="search()" placeholder="Search By Market Name">
    </div>
  </form>


  
  <div class="container">
    <div class="row">
      <table class="table table">
        <thead>
            &nbsp;  <a href="/add" class="btn btn-info btn-xs float-right" (click)="getInstance()"><b>+</b>Add New</a>
          <tr>
            <th (click)="sort('instituteId')">Institute Id</th>
            <th (click)="sort('mkid')">MKid</th>
            <th (click)="sort('marketName')">Market Name</th>
            <th (click)="sort('decisionMaker')">Decision Maker</th>
            <th (click)="sort('designation')">Designation</th>
            <th (click)="sort('district')">District</th>
            <th (click)="sort('mobile')">Mobile</th>
            <th (click)="sort('telephone')">Telephone</th>
            <th (click)="sort('website')">WebSite</th>
            <th (click)="sort('statusName')">Status</th>
            <th (click)="sort('remarks')">Remarks</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of models">
            <td>{{s.instituteId}}</td>
            <td>{{s.mkid}}</td>
            <td>{{s.marketName}}</td>
            <td>{{s.decisionMaker}}</td>
            <td>{{s.designation}}</td>
            <td>{{s.district}}</td>
            <td>{{s.mobile}}</td>
            <td>{{s.telephone}}</td>
            <td>{{s.webSite}}</td>
            <td>{{s.statusName}}</td>
            <td>{{s.remarks}}</td>
            <td> <button class="btn btn-primary" type="button" (click)="update(s.instituteId)"><i class="fa fa-pencil"></i></button></td>
            <td> <button class="btn btn-danger" type="button" (click)="delete(s.instituteId)"><i class="fa fa-remove"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  
  <button class="btn btn-primary" (show)="searchRequest.page>1" (click)="previous()">Previous</button>
  <label>Current Page:{{searchRequest.page}}</label>
  <button class="btn btn-primary" (click)="next()">Next</button>
  